<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/static/style.css" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <!--  <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap" rel="stylesheet">   -->
    <title>P5-SuperCool</title>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@600&display=swap" rel="stylesheet">


</head>
<body>

<div class="topnav">
    <a class="active" href="/">Home</a>
    <a href="project">Projects</a>
    <a href="journal">Journals</a>
    <a href="other">Other</a>
</div>
{% block homecontent %}
{% endblock %}
{% block projects %}
{% endblock %}
{% block journals %}
{% endblock %}
{% block other %}
{% endblock %}

</body>

</html>