<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/stylevvv.css" rel="stylesheet" type="text/css" />
</head>
<body>





<div class="topnav">
    <a href="/">Home</a>
    <a href="projects">Projects</a>
    <a href="Ideas">Journals</a>
    <a class="active" href="other">Other</a>
</div>

<video class="video-bg" autoplay muted loop>

    <source src="/static/Video1.mp4" type="video/mp4">

</video>

<div class = "text1">

    <a  style="text-decoration:none" href="https://github.com/Bob1437/geo-guesser.code--post22"><h1 style="color: #4CAF50; text-decoration:none;" >Geo-Guesser</h1></a>
    <a  style="text-decoration:none; text-align:center;" href="https://repl.it/@jhunt11111/Stranded-1#main.py"><h1 style="color: #4CAF50; text-decoration:none;" >Stranded</h1></a>

</div>

</body>
</html>